$primary-color: #0070f3;
$secondary-color: #ffffff;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: $secondary-color;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;

    li {
      a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: 500;
        transition: color 0.3s;

        &:hover {
          color: #ffffff2d;
        }
      }
    }
  }

  .logoutButton{
    background-color: transparent;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ffffffd3;
      color: black;
    }
  }

}
