.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn_delete_confirm {
    background: #DC3545;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        filter: brightness(0.9);
        border-radius: 7px;
    }
}

.btn_cancel {
    background: gray;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        filter: brightness(0.9);
        border-radius: 7px;
    }
}
